body {
  background-color: lightskyblue;  
}
#but1{
    margin-top: 20px; 
    margin-bottom: 20px;
}
#but2{
    display: none; 
    margin-top: 20px; 
    margin-bottom: 20px;
}
input{
    margin: 10px;
}